@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap');

$fontMain: 'Roboto Condensed';
$fontTitle: 'Bebas Neue';

// variables para los textos

$textHeader: 1.8rem;
$textTitulo: 4rem;
$textTitulopeque: 3rem;
$textCuerpo: 2rem;
$textFooter: 1.4rem;